process.container = 'docker://bixbeta/trex-rna:latest'
singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = "-B /local -B /workdir"


process {
  withLabel:process_low {
    cpus   =    2
    memory =    14.GB

  }
  withLabel:process_medium {
    cpus   =    8
    memory =    32.GB

  }
  withLabel:process_high {
    cpus   =    24
    memory =    200.GB

  }

}


workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}

workflow.onError = {
    println "Error: something went wrong"
}

