process.container = '/workdir/TREx_shared/projects/TREX_rna_1.sif'
singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = "-B /local -B /workdir"
apptainer.enabled = true
apptainer.cacheDir = '$baseDir/work/'

process {
  withLabel:process_low {
    cpus   =    2
    memory =    14.GB

  }
  withLabel:process_medium {
    cpus   =    8
    memory =    32.GB

  }
  withLabel:process_high {
    cpus   =    14
    memory =    132.GB

  }

  withLabel:process_mqc {

    container = "docker://multiqc/multiqc:latest"
  
  }

  withName:SCREENM {

    container = "/workdir/TREx_shared/projects/TREX_SCREEN.sif"
  }  

}


workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}

workflow.onError = {
    println "Error: something when wrong"
}

